.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
  padding-top: 60px;
}

.currency {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  border: 2px solid teal;
  border-radius: 10px;
  padding: 10px;
  min-height: 80px;
  box-shadow: 7px 5px 5px lightgray;
}

input{
  border: none;
  border-bottom: 1px solid teal;
  outline: none;
  margin-top: 35px;
  font-size: 15px;
  padding-left: 10px;
  background-color: rgba(64, 197, 197, 0.14);
  border-radius: 10px;
}

select {
  border: 1px solid teal;
  outline: none;
  min-width: 200px;
  font-size: 15px;
  background-color: rgba(64, 197, 197, 0.14);
  border-radius: 10px;
}
